<h1 style="color: #253f8e;">Welcome to the Eccelerators sample HTML outputs</h1>
<p>This website shows you some themes for the HTML documentation of the registers.</p>
<h2 style="color: #f58828;">Projects</h2>
<table class="editorDemoTable" style="border-style: solid; height: 72px; width: 727px;" width="699">
    <thead>
        <tr>
            <td><strong>Project</strong></td>
            <td><strong>Alabaster theme</strong><img src="alabaster.png" width="300" alt="async_haiku" /></td>
            <td><strong>Haiku theme (default)</strong><img src="haiku.png" width="300" alt="async_haiku" /></td>
            <td><strong>groundwork theme</strong><img src="groundwork.png" width="300" alt="async_haiku" /></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>async</td>
            <td><a href="alabaster/async/index.html">link</a></td>
            <td><a href="haiku/async/index.html">link</a></td>
            <td><a href="groundwork/async/index.html">link</a></td>
        </tr>
        <tr>
            <td>pwm</td>
            <td><a href="alabaster/pwm/index.html">link</a></td>
            <td><a href="haiku/pwm/index.html">link</a></td>
            <td><a href="groundwork/pwm/index.html">link</a>
            </td>
        </tr>
        <tr>
            <td>sercom</td>
            <td><a href="alabaster/sercom/index.html">link</a></td>
            <td><a href="haiku/sercom/index.html">link</a></td>
            <td><a href="groundwork/sercom/index.html">link</a></td>
        </tr>
    </tbody>
</table>